:root {
  --dark-gray: #222222;
  --text-shadow: 0 0 1.1em var(--dark-gray);
}

/* LAYOUT */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: no-repeat center center fixed;
  background-color: hsl(251, 100%, 4%);
  --webkit-background-size: cover;
  --moz-background-size: cover;
  --o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 100dvh;
  margin-inline: auto;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.9em 1.2em;
  font-size: clamp(0.85rem, 0.8rem + 0.785vw, 2.1rem);
}

.top {
  display: flex;
  justify-content: space-between;
}

#crypto-top {
  display: flex;
  gap: 0.65em;
  align-items: center;
  margin-bottom: 0.2em;
}

.time {
  align-self: center;
}

/* TYPOGRAPHY */

p,
li,
time {
  color: white;
  font-weight: 600;
  -webkit-text-stroke: var(--dark-gray) 0.07px;
}

p, li {
  letter-spacing: 0.04em;
}

.top p {
  font-size: 1.2em;
}

ul.crypto-values {
  list-style-type: none;
  font-size: 0.88em;
  padding-inline-start: 0;
  margin-block: 0.5em 0;
}

ul.crypto-values > li {
  font-weight: 400;
  line-height: 1.35;
  word-spacing: 0.1em;
}

#weather {
  display: flex;
  flex-direction: column;
  align-items: end;
  height: fit-content;
  gap: 0.2em;
}

.weather-inner-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 0.7em;
}

.weather-inner-div p {
  font-size: 2.15em;
}

time {
  font-family: "Orbitron", system-ui;
  font-size: clamp(3rem, 1rem + 9.6vw, 8.25rem);
  font-weight: 500;
  -webkit-text-stroke-width: 0.05px;
  text-shadow: 0 0 5px var(--dark-gray);
}

#photographer {
  width: fit-content;
  text-shadow: var(--text-shadow);
  align-content: end;
  flex-basis: 25%;
  padding-block: 0.4em;
}

/* WIDGETS, ICONS, AND IMAGES */

.widget {
  text-shadow: 0 0 0.3em var(--dark-gray);
  border-radius: 0.3em;
  padding: 0.3em 0.6em 0.2em;
}

.transition {
  transition-property: border-color, backdrop-filter;
  transition-duration: 400ms;
}

.focused-widget {
  backdrop-filter: brightness(0.77) blur(3.75px);
  border: 3px solid #33333330;
}

.unfocused-widget {
  backdrop-filter: brightness(0.975);
  border: 3px solid #ff000000;
}

img.crypto-icon {
  width: 3.2rem;
}

#weather img {
  width: 4.5em;
  aspect-ratio: 3/2;
  object-fit: cover;
  margin-inline: -1.15em -0.55em;
}